<!--section 3-->
     <!-- Education-->
      <section class="resume-section" id="education">
        <div class="conteEstudios container-fluid rounded shadow-sm p-3 mb-5">
           <div class="resume-section-content">
              <h2 class="mb-5">Educación</h2>
            <!-- Button trigger modal-->
            <button type="button"  data-bs-toggle="modal" data-bs-target="#educacionModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
            <!--<button type="submit" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
            <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>-->  
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                 <div class="flex-grow-1">
                    <h3 class="mb-0">Titulo Licenciado en Higiene y Seguridad en el Trabajo</h3>
                    <div class="subheading mb-3">Bachelor Hygiene and industrial security</div>
                    <div>Hygiene and industrial security - Web Development Track</div>
                    <div>
                     <h3>Universidad Tecnológica Nacional</h3>
                     <img src="assets/img/diploma.jpg" width="350">
                     <div class="flex-shrink-0"><span class="text-secundary">Febrero 2013 - Diciembre 2015</span></div>
                    </div>
                    <div>
                       <div class="row"></div>
                       <br>
                       <h3>Argentina Programa</h3>
                       <figure>
                          <img src="assets/img/certificado.jpg" width="350"> 
                       </figure>
                       <div class="flex-shrink-0"><span class="text-secundary">Febrero 2021 - Octubre 2021</span></div>
                    </div>
                 </div>
                 <br>
                 <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                       <h3>"#Yo Programo"</h3>
                       <div class="subheading mb-3">Technology Developer Program</div>
                       <div class="flex-shrink-0"><span class="text-secundary">Mayo 2022 - Enero 2023</span></div>
                       <img src="assets/img/MINIATURA-ARGEPROGR.jpg" width="350">      
                       <p> ARGENTINA PROGRAMA #YOPROGRAMO 3ra EDICIÓN </p>
                       <br>
                       <h3>PYTHON</h3>
                       <figure>
                          <img src="assets/img/mi certificado1.png" width="350"> 
                       </figure>
                       <h3 class="mb-0">Fundación Educativa Santisima Trinidad </h3>
                       <p > curso LENGUAJE DE PROGRAMACIÓN PYTHON.</p>
                       <div class="flex-shrink-0"><span class="text-secundary">Febrero 2022 - Mayo 2022</span></div>
                    </div>
                 </div>
               </div>
            </div>
            <!-- <a class="btn btn-primary" href="/index.html" role="button">Volver</a>-->
          </div>
     </section>
      <!-- FIN DE EDUCACION-->
