<!--section 4-->
      <!--Skills-->
      <section class="resume-section" id="skills">
        <div class="conteSkills container-fluid rounded shadow-sm p-3 mb-5">
      <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <!-- Button trigger modal -->
      <button type="button"  data-bs-toggle="modal" data-bs-target="#habilidadesModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
      <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
      <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button> 
    </div>
       </div>
      
      <!-- Modal Skill -->
      <div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Habilidad</h5>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <form name="habilidadesForm"> 
                    <!-- formulario de habilidad-->
                    <div class="mb-3">
                    <select class="form-select" id="habilidadId">
                      <option selected>Seleccionar Habilidad</option>
                      <option value="1">ID1</option>
                      <option value="2">ID2</option>
                      <option value="3">ID3</option>
                      <option value="3">ID4</option>
                      <option value="3">ID5</option>
                      <option value="3">ID6</option>
                      <option value="3">ID7</option>
                      <option value="3">ID8</option>
                    </select>
                  </div>            
                    <div class="mb-3">
                      <label for="habilidadNombre" class="form-label">Modificar Halilidad</label>
                      <input type="text" class="form-control" id="habilidadNombre" placeholder="Nombre nuevo">
                    </div>
                      <label for="habilidadPorcentaje" class="form-label">Modificar Porcentaje de Manejo (Escala 0-100)</label>
                      <input type="number" min="0" max="100" id="habilidadPorcentaje">
                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btnCancel" data-bs-dismiss="modal">Cancelar</button>  
              <button type="submit" class="btn btnAgree" data-bs-dismiss="modal">Agregar</button>   
              <button type="submit" class="btn btnMod" data-bs-dismiss="modal">Modificar</button>  
              <button type="submit" class="btn btnDelete" data-bs-dismiss="modal">Borrar</button>   
              <button type="submit" class="btn btnLogin" data-bs-dismiss="modal">Guardar</button>  
            </div>
          </div>
        </div>
       </div>
      
      
