<body>
    <header>
      <!--Barra de nav-->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/img/images.png" alt="" width="30%" height="40%">
          </a>

          <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://www.linkedin.com/in/miguel-trubiano-83093229/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://www.github.com/" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://login.live.com/" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a></li>
          <li class="list-group-item">
          <!-- Button trigger modal -->
          <!-- Boton que abre el logout -->
            <i data-bs-toggle="modal" data-bs-target="#logoutModal" class="fa-solid fa-user-lock fa-xl">
            </i>
          </li>
          </ul>
          </div>
          </nav>
          <!-- FIN DE NAVEGACION-->
    </header>
    <app-banner></app-banner>
    <app-navbar></app-navbar>
    <app-acercademi></app-acercademi>
    <app-awards></app-awards>
    <app-education></app-education>
    <app-interests></app-interests>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-proyectos></app-proyectos>
    <app-main></app-main>


   JavaScript Bundle with Popper 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

</body>
<!--</html>-->
